<html>
    <body>
        <h1>Hello from Node</h1>
        <form action="/customers" method="POST">
            <input type="text" name="name" id="name" value="paul"/>
            <input type="text" name="tel" id="tel" value="05111222333"/>
            <input type="submit" value="Send POST"/>
        </form>
    </body>
</html>